body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'Inter', sans-serif;
    color: white;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 10;
    font-weight: 300;
}

h3 {
    margin: 0 0 5px 0;
    font-weight: 500;
}

p {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
}

canvas {
    display: block;
}
